<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCh-V3EQzKjcMYf7MX7P8-LGBSyIrhz78I",
    authDomain: "x-check.firebaseapp.com",
    databaseURL: "https://x-check.firebaseio.com",
    projectId: "x-check",
    storageBucket: "x-check.appspot.com",
    messagingSenderId: "266993605155",
    appId: "1:266993605155:web:d5490f2b54dfb662dbef96",
    measurementId: "G-TKKVGZYFC7"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>